---
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Install dependences
      shell: ansible-galaxy collection install community.docker && ansible-galaxy collection install community.kubernetes
   

    - name: Build an image and push it to a repo
      community.docker.docker_image:
        build:
          path: /opt/project/dockerimage
          network: host
        name: paomb/example-app
        tag: v1
        push: yes
        repository: paomb/example-app
        source: build
    - name: Create a Deployment by reading the definition from a local file
      community.kubernetes.k8s:
        state: present
        src: /opt/project/k8/deploy.yaml
