---
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Build an image and push it to a repo
      community.docker.docker_image:
        build:
          path: ./dockerimage
          network: host
        name: paomb/example-app
        tag: v1
        push: yes
        repository: paomb/example-app
        source: build

    - name: d